<!-- CUSTOM COMPONENTS AND TEMPLATE DRIVEN FORM -->
<!-- <div class="row">
  <div class="col-3">
    <app-task-form></app-task-form>
    
  </div>
  <div class="col-9">
    <app-list></app-list>
  </div>
</div> -->

<!-- NG_CONTENT -->
<!-- <div class="row">
  <div class="col-4 m-4">
    <div class="mb-4">
      <app-smart-form-container>
        <h5 class="header">Global App Login</h5>
        <span>This will be body of my component</span>
        <h5>Global App Body</h5>
        <app-global-login-check
          (onCheckedChanged)="checkboxStateHasChanged($event)"
        ></app-global-login-check>
        <app-global-login-check
          (onCheckedChanged)="checkboxStateHasChanged($event)"
        ></app-global-login-check>
        <app-global-login-check
          (onCheckedChanged)="checkboxStateHasChanged($event)"
        ></app-global-login-check>
        <app-global-login-check
          (onCheckedChanged)="checkboxStateHasChanged($event)"
        ></app-global-login-check>
        <app-global-login-check
          (onCheckedChanged)="checkboxStateHasChanged($event)"
        ></app-global-login-check>
      </app-smart-form-container>
    </div>
  </div>
</div> -->

<!-- <div class="row m-3">
  <div class="col-12">
    {{ title | uppercase | namePrefix }}
  </div>
  <div class="col-12">
    {{ currentDate | date : "MM/dd" }}
  </div>
  <div class="col-12">
    {{ amount | currency : "INR" : "code" : ".3" }}
  </div>

  <button (click)="changeGender()" type="button">Change Gender</button>
</div> -->
<!-- REACTIVE FORMS -->
<!-- <div class="row p-4">
  <div class="col-4">
    <app-task-form-rc></app-task-form-rc>
  </div>
</div> -->
<!-- ROUTING -->
<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link"
              aria-current="page"
              routerLink="/"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products" routerLinkActive="active"
              >Products</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="p-2">
    <router-outlet></router-outlet>
  </div>
</div>
