<!-- CUSTOM COMPONENTS AND TEMPLATE DRIVEN FORM -->
<!-- <div class="row">
  <div class="col-3">
    <app-task-form></app-task-form>
    
  </div>
  <div class="col-9">
    <app-list></app-list>
  </div>
</div> -->

<!-- NG_CONTENT -->
<div class="row">
  <div class="col-4 m-4">
    <div class="mb-4">
      <app-smart-form-container>
        <h5 class="header">Global App Login</h5>
        <span>This will be body of my component</span>
        <h5>Global App Body</h5>
        <app-global-login-check></app-global-login-check>
        <app-global-login-check></app-global-login-check>
        <app-global-login-check></app-global-login-check>
        <app-global-login-check></app-global-login-check>
        <app-global-login-check></app-global-login-check>
      </app-smart-form-container>
    </div>
  </div>
</div>
